.page {
  display: flex;
  padding: 10% 2%;
  flex-direction: row;
  background-color: white;
  justify-content: space-evenly;
}

.image {
  display: flex;
}

.image__image {
  display: flex;
  max-width: 100%;
}

.block {
  flex-grow: 1;
}

.wrap {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  color: #415261;
}

.title__title {
  font-size: 24px;
  font-weight: 900;
  margin-block-start: 0.1;
  margin-block-end: 0.1;
}

.title__desc {
  font-size: 13px;
  font-weight: 400;
  margin-block-start: 0.1;
  margin-block-end: 0.1;
  color: #415261;
}

.title__link {
  color: #5ec9e3;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 0;
}

.form__input {
  background-color: #d9ebfa;
  color: black;
  border-radius: 5px;
  border: 1px solid rgba(212, 212, 212, 0.911);
  padding: 15px;
  font: 14px "Open Sans";
  font-weight: 600;
  margin: 5px 0;
}

.form__forgot {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 0;
  margin-block-end: 0;
}

.form_forgot__link {
  color: rgba(141, 151, 160, 0.8);
  font-size: 14px;
  text-decoration: underline;
}

.checkbox {
  color: black;
  font-size: 14px;
}

.button {
  display: flex;
}

.button__button {
  background-color: #5ec9e3;
  flex-basis: 100%;
  font: 14px Arial;
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
